

@using System.Activities.Expressions
@using OnMuseum.Models.Basic
@model OnMuseum.Models.Basic.ObraBasic

@{
    ViewBag.Title = "Nova Obra";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> listaAutor = new List<string> { "Machado de Assis", "Fernando Pessoa", "Tarsila do Amaral" };
    string autor = "";
    //List<AutorBasic> listaAutor = (List<AutorBasic>)ViewData["ListaAutor"];
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-10">
        <div class="panel panel-default">

            <!-- Default panel contents -->
            <div class="panel-heading text-center">
                @Html.Label("Inclusão de Obra")
            </div>
            <div class="panel-gerencia">
                <div class="form-horizontal">
                    <p></p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-3" })
                        @Html.Label("*", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AutorId, htmlAttributes: new {@class = "control-label col-md-3"})
                       &nbsp @Html.Label("*", new {@class = "text-danger"})
                        @Html.ValidationMessageFor(model => model.AutorId, "", new {@class = "text-danger"})
                        
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => autor, new SelectList(listaAutor, listaAutor.ToString()), "Selecione...", new { @class = "btn-droup btn-default dropdown-toggle btn-group" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criacao, new { @class = "control-label col-md-3" })
                         <text style="color: gray"><i>Ex: 1990</i></text>
                        @Html.ValidationMessageFor(model => model.Criacao, "", new { @class = "text-danger" })

                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Criacao, new { htmlAttributes = new { @class = "form-control" } })
                           
                        </div>
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-3" })
                        
                        @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Observacao, new { cols = 10, rows = 4, @class = "form-control observacao" })

                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 27%">
                        <div class="col-md-4 space-btn-salvar">
                            <input type="submit" style="width: 80px" value="Cadastrar" class=" btn btn-default btn-primary">
                        </div>
                        <div class="col-md-4 space-btn-cancelar">
                            <button type="reset" style="width: 80px" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    @Html.ActionLink("voltar", "Index")
                </div>
            </div>
        </div>
    </div>
}
